@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');


.nasaName{
    font-family: 'Bowlby One SC';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 46px;
    color: #FFFFFF;
    position: relative;
    left: -10px;
}
.leftNav{
    display: flex;
    flex-direction: column;
}
.pageHead{
    font-family: 'Bowlby One SC';
    font-style: normal;
    font-weight: 400;
    font-size: 50px ;
    line-height: 76px;
    margin: 0% !important;;
    color: #FFFFFF;
}
.d-inline-block{
    height: 79px;
    width: 100px;
}
.midNav{
    display: flex;
    justify-content: center;
    align-items: center;
} 


nav {
    padding: 5px 0px;
  min-height: 90px;
  background: #111;
  transition: 0.3s;
}
nav.sticky {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav-inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  width: 100%;
  margin: auto;
}
@media only screen and (max-width: 1200px) {
    .pageHead{
        font-size: 35px;
    }
}
@media only screen and (max-width: 900px) {
    .pageHead{
        font-size: 25px;
    }
    .nasaName{
        font-size: 25px;
    }
}
@media only screen and (max-width: 600px) {
    .nav-inner{
        flex-direction: column;
    }
    .img{
        height: 50px;
        width: 60px;
    }
    .leftNav{
        width: 100%;
        justify-content: space-around;;
        align-items: center;
        flex-direction: row;
    }
    .nasaName{
        font-size: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .pageHead{
        font-size: 15px;
    }
}
