@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

html {
	 box-sizing: border-box;
}
 *, *:before, *:after {
	 box-sizing: inherit;
}

 :root {
	 --animation-delay: 0.5s;
	 --duration: 1300ms;
	 --iterations: 1;
}
 h1, h2 {
	 margin: 0 50px;
	 display: inline-block;
}
 .reveal {
	 position: relative;
	 font-size: 72px;
	 user-select: none;
	 animation-name: reveal-text;
	 cursor: default;
	 padding-left: 20px;
	 padding-top: 10px;
}
 .reveal:after {
	 content: "";
	 position: absolute;
	 z-index: 10;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 background-color: #3686ff;
	 transform: scaleX(0);
	 transform-origin: 0 50%;
	 pointer-events: none;
	 animation-name: revealer-text;
}
 .reveal, .reveal:after {
	 animation-delay: var(--animation-delay);
	 animation-iteration-count: var(--iterations);
	 animation-duration: var(--duration);
	 animation-fill-mode: both;
	 animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
 .reveal.purple:after {
	 background-color: #b39fff;
}
 .reveal.purple, .reveal.purple:after {
	 animation-delay: 0.75s;
}
 @keyframes reveal-text {
	 from {
		 clip-path: inset(0 100% 0 0);
	}
	 to {
		 clip-path: inset(0 0 0 0);
	}
}
 @keyframes revealer-text {
	 0%, 50% {
		 transform-origin: 0 50%;
	}
	 60%, 100% {
		 transform-origin: 100% 50%;
	}
	 60% {
		 transform: scaleX(1);
	}
	 100% {
		 transform: scaleX(0);
	}
}
 
.spotlightMain{
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 20px;
    min-height: 90vh;
}
.makeCentre-l{
    display: flex;
    justify-content: center;
    align-items: center;
}
.distSeperator{
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 35px;
	margin-right: 100px;
	margin-left: 50px;
}
.makeCentre-l >div> h1 {
    font-family: 'Bowlby One SC';
    font-style: normal;
    font-size: 45px;
    color: #FF0000;
}
.makeCentre-l >div> h5 {
    font-family: 'Bubblegum Sans';
    font-style: normal;
    font-size: 25px;
    color: #FFFFFF;
}
.makeCentre-l >div> h2{
    font-family:serif;
    font-style: normal;
    font-size: 25px;
    color: #FFFFFF;
}
.makeCentre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.spotlightImgBox{
	margin: 50px;
	background-color: #D9D9D9;
	height:492px;
	padding: 2px;
	border-radius: 20px;
}
.spotImage{
    border-radius: 20px;
	height: 488px;
	width: 400px;
}
@media only screen and (max-width: 1000px) {
	.spotlightMain{
		display: flex;
		flex-direction: column;
	}
}
@media only screen and (max-width: 700px){
	.spotlightImgBox{
		height: 344px;
	}
	.spotImage{
		height: 340px;
		width: 250px;
	}
}
@media only screen and (max-width: 700px){
	.makeCentre-l >div> h1 {
		font-size: 30px;
	}
	.makeCentre-l >div> h5{
		font-size: 20px;
	}
	.makeCentre-l >div> h2{

	}
	.distSeperator{
		margin: 0;
	}
}