@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.subCategories{
    padding-left: 50px;
    padding-right: 50px;
    min-height: 50vh;
}
.subCategories > div > h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    text-decoration-line: underline;
    color: #FFFFFF;
}
.subCategories > h2{
  padding: 20px 0px;
  font-size: 30px;
  color: white;
  font-family: 'Bebas Neue', cursive;
}
.new-expense__control{
  display: flex;
  gap: 10px;
}
.new-expense__control label {
  font-weight: bold;
  margin-top: 0.5rem;
  display: block;
  font-family: 'Bebas Neue', cursive;
  color: white;
}

.new-expense__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  width: 170px;
  max-width: 100%;
}
.submitButton{
  background: rebeccapurple;
    padding: 10px;
    border-radius: 15px;
    width: 100px;
    margin-top: 20px;
    background: linear-gradient(180deg, #FD9DFF 0%, rgba(183, 157, 255, 0.42) 100%);
    
}
.results{
  margin-top: 20px;
    display: grid;
    gap: 15px;
    justify-content: space-evenly;
    grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
}
@media only screen and (max-width: 1200px) {
    .results{
      grid-template-columns: 20% 20% 20% 20% 20%;
  }
}
@media only screen and (max-width: 1000px) {
    .results{
      grid-template-columns: 25% 25% 25% 25%;
  }
}
@media only screen and (max-width: 900px) {
    .results{
      display: flex;
      flex-wrap: wrap;
  }
}
@media only screen and (max-width: 600px) {
  .subCategories{
    padding: 5px;
  }
  .subCategories > form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .new-expense__control{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

}

.cardSeld{
  display: inline-block;
  margin: 1rem;
  flex: 0.5;
  text-align: center;
  background: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;
}