@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.subCategories{
    padding-left: 50px;
    padding-right: 50px;
    min-height: 50vh;
}
.subCategories > div > h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    text-decoration-line: underline;
    color: #FFFFFF;
}
.subCategories > h1{
  padding: 20px 0px;
  font-size: 30px;
  color: "#FFFFFF";
  font-family: 'Bebas Neue', cursive;
}
.new-expense__control{
  display: flex;
}
.new-expense__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  font-family: 'Bebas Neue', cursive;
  color: white;
}

.new-expense__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}
.submitButton{
  background: rebeccapurple;
    padding: 10px;
    border-radius: 15px;
    width: 100px;
    margin-top: 20px;
    background: linear-gradient(180deg, #FD9DFF 0%, rgba(183, 157, 255, 0.42) 100%);
    
}